<!doctype html>

<html lange='ja'>
	<head>
	
	<meta charset="UTF-8">
	<title>先生情報</title>
    <link href="sample.css" rel="stylesheet" type="text/css"/>
	
	</head>
<body>
    <div class="list">
    <ul>
        <li><a href="#" class="color">国語</a></li>
        <li><a href="#" class="color">算数</a></li>
        <li><a href="#" class="color">理科</a></li>
        <li><a href="#" class="color">社会</a></li>
        <li><a href="#" class="color">英語</a></li>
        <li><a href="#" class="color">美術</a></li>
        <li><a href="#" class="color">家庭</a></li>
        <li class="last"><a href="#" class="color">情報</a></li>
    
    </ul>
    </div>
    
    
    
</body>
</html>














